@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "This is test";
}

<h2 style="color:red;">This is test</h2>
<p>@ViewBag.Number</p>

